<div class="container">
  <div class="row">
    <div class="twelve columns landing">
      <img class="landing" src="../images/guitar.jpeg" alt="" />
      <span>
        <h1 class="bannertext">Find your Garfunkel</h1>
      </span>
    </div>
  </div>
</div>
