<img id="pug" alt="">

<div class="container">
  <div class="row">
    <div style="text-align:center;" class="col-sm-12">
      <h1 style="color:white;">Error: {{message}}</h1>
      <br>
      <h2>{{error.status}}</h2>
      <br>
      <!-- <pre>{{error.stack}}</pre> -->
      <a href="/users/">Register/Login</a>
      <br>
      <a href="/">Home</a>

    </div>
  </div>
</div>
