<img id="bgloginregister" alt="">



<div class="container">
  <div class="row">
    <div style="text-align: center;" class="col-sm-12">
      <div>
        <h1>{{message}}</h1>
        <br/>
        <div class="foggyclarity">
          <p><a style="color:black;" href="/users/profile">View Your Profile</a></p>
          <p><a style="color:black;" href="/users/updateprofileform">Update Your Profile</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
