<img id="board" alt="">

<div class="container">
  <div class="row">
    <div style="text-align:center;" class="col-sm-12">
      <h1 style="color:white;">Settings {{user}}</h1>
      <br>
      <a href="/users/profile">View Profile</a>
      <br>
      <a href="/users/updateprofileform">Edit Profile</a>
      <br>
      <a href="/users/logout">Logout</a>
    </div>
  </div>
</div>
