//general:
// ----------------------------------------------
body{
  font-family: 'Nunito', sans-serif;

}

a {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: white;
}

h2{
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h3{
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: black;
}

ul{
  list-style: none;
}

// youtube guide popup
#youtubeguide{
  background-color: rgba(110, 162, 15, 0.53);
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: black;
  font-size: 16px;

}
#youtubeguide:hover{
  background-color: rgba(110, 162, 15, 0.93);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: white;
}
#youtubediv{
  border: 1px solid black;
  padding: 3px;
  background-color: rgba(1, 252, 4, 0.29);
}

.navlinks{
  margin-top: 7%;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: rgba(133, 135, 131, 0.1);
  color: white;
}

//transparent bg for text clarity on top of images
.foggyclarity{
  background-color: rgba(111, 119, 118, 0.3);
}

// board background
#board{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/board.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}


// violin background
#violin{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/violin.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}


// background image
#bghome{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/guitar.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

#bghome{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/guitar.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

#bgloginregister{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/crowd.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

// melody cursive logo
.logo {
  font-family: 'Grand Hotel', cursive;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.logo:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

// browse musicians button on index
#explorebtn {
  display: block;
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(96, 217, 64, 0.45);
  font-family: 'Nunito', cursive;
  font-size: 32px;
  color: black;
}

#explorebtn:hover{
  display: block;
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(53, 171, 22, 0.45);
  font-family: 'Nunito', cursive;
  font-size: 32px;
}

#explorebtn:active {
  display: block;
  margin: 0 auto;
  padding: 1%;
  background-color: rgba(25, 217, 64, 0.45);
  font-family: 'Nunito', cursive;
  font-size: 32px;
}

//Profile input sizing
.profileupdate{
  width: 300px;
  margin-bottom: 3%;
}


// index banner
.bannertext{
  margin-top: 10%;
  text-align: center;
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: white;
}

// register marketing
.regmktg{
  // margin-left: 2px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: black;
}
#toggleloginreg{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
#toggleloginreg:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: rgba(10, 179, 44, 1);
}

#waitgoback:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  color: rgba(10, 179, 44, 1);
}


// melody: a place to find that
.desc{
  display: block;
  margin: 10px auto;
  // margin-top: 1%;
  // margin-left: 30%;
  text-align: center;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: white;
}
//pianist, cellist, guitarist, bassist
#regionA{
  display: block;
  // margin-top: 10%;
  // text-align: center;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: white;
}
