<img id="pedals" alt="">

<div class="container foggyclarity">
  <div class="row">
    <div class="col-xs-1">
      <p class="logo">
        
      </p>
    </div>
    <div style="color:white;" class="col-xs-7">
      <h1 style="color:white;" >About</h1>
      <h3 style="color:white;" >Musicians Connect</h3>
      <h3 style="color:white;" >Find and Collaborate</h3>
      <p>
        Melody is a place for musicians to find each other.
        <br>
        <br>
        Musicians often enjoy being part of the music scene around them, but it can often be difficult to find other musicians when not playing regularly, or being away from school or the professional scene.
        <br>
        <br>
        Melody allows its users to browse through an archive of musicians' profiles and save others as favorites for possible contact.
        <br>
        br
        No longer should you need to worry about finding other musicians in your area!
      </p>
    </div>
    <div class="col-xs-4">

    </div>
  </div>
</div>
