<img id="bghome" alt="">

<div class="container">
  <div class="row">
    <div class="col-xs-12 landing">
        <h1 class="bannertext">Find your Garfunkel</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 landing">
      <button class="btn" id="explorebtn" type="button" name="button">Browse Musicians</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 landing">
      <p class="desc">
        melody: a place to find that <span id="regionA">drummer.</span>
      </p>
    </div>
  </div>
</div>
