<img id="bgloginregister" alt="">


<div class="container foggyclarity register">
  <div class="row center">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <h2>Sign Up</h2>
      <form class="form-group" action="/users/register" method="post">
        <input class="form-control" type="email" name="email" placeholder="Enter Email" required>
        <br />
        <input class="form-control" type="text" name="username" placeholder="Choose Username" required>
        <br />
        <input class="form-control" type="password" name="passwordHash" placeholder="Choose Password" required>
        <p style="color: black;">Password requirements: minimum 6 characters, one special character, &amp; one number.
        </p>
        <br />
        <!-- <input class="form-control" type="password" name="password" placeholder="Confirm Password" required> -->
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>

    <div class="col-sm-5">
      <h3 class="regmktg">Find Your Garfunkel</h3>
      <p class="regmktg">
        Connect with other musicians of your liking on <span>melody</span>. Share your talents and interests with the world.
      </p>
      <ul class="regmktg">
        <li class="regmktg">Browse other musicians</li><br/>
        <li class="regmktg">Listen to their samples</li><br/>
        <li class="regmktg">Find out their talents</li><br/>
        <li class="regmktg">Share your own!</li>
      </ul>
      <div id="toggleloginreg">Already registered? Log In</a>

      </div>
      <div class="col-sm-1">
      </div>

    </div>
  </div>
</div>




<div class="container foggyclarity login">
  <div class="row center">
    <div class="col-sm-1">
    </div>
    <div class="col-md-5">
    <h2 class="regmktg">Login</h2>
    <form class="form-group" action="/users/login" method="post">
      <input class="form-control" type="email" name="email" placeholder="Enter Email" required>
      <br />
      <input class="form-control" type="password" name="passwordHash" placeholder="Enter Password" required>
      <br />
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>

    <div class="col-sm-5">
      <h3 class="regmktg">Find Your Garfunkel</h3>
      <h4 class="regmktg">
        Welcome!
      </h4>
      <p id="waitgoback">
        Still need to sign up?
      </p>
      <div class="col-sm-1">
      </div>

    </div>
  </div>
</div>
