<img id="violin" alt="">

<div class="container">
  <div class="row">
    <div class="col-sm-7 foggyclarity">
      <h1>{{message}}</h1>
    </div>
    <div class="col-sm-5"></div>
  </div>
  <div class="row">
    <div class="col-sm-7 foggyclarity">
      <h2 >Your Musical Profile</h2>

      <form class="form-group" action="/users/update" method="post">
        <input type="hidden" name="_method" value="put">
        <label><p>Youtube Video: Must input the 'Embed Link' provided by Youtube.<span id="youtubeguide"> Help?</span></p>
          <div>
            <img id="youtubediv" src="http://s32.postimg.org/ao30pl07p/Screen_Shot_2016_05_02_at_3_11_38_PM.png" alt="" />
            <p>
              Share -> Embed -> Copy Provided Link
            </p>
          </div>
        <input class="profileupdate form-control" type="text" name="video" placeholder="<iframe width='420' height='315' src='https://www.youtube.com/embed/6Tfa4-3WCXQ' frameborder='0' allowfullscreen></iframe>"></label>
        <br />
        <br />
        <label><p>Location</p>
        <input class="profileupdate form-control" type="text" name="location" placeholder="Leschi, Seattle, Washington" ></label>
        <br />
        <br />

        <label><p>Name</p>
        <input class="profileupdate form-control" type="text" name="name" placeholder="Kurt Cobain" ></label>
        <br />
        <br />
        <label><p>Name of Act (if different)</p>
        <input class="profileupdate form-control" type="text" name="act" placeholder="Nirvana" ></label>
        <br />
        <br />
        <label><p>Primary Instrument</p>
        <input class="profileupdate form-control" type="text" name="primary" placeholder="Voice" ></label>
        <br />
        <br />
        <label><p>Secondary Instrument</p>
        <input class="profileupdate form-control" type="text" name="secondary" placeholder="Guitar" ></label>
        <br />
        <br />
        <label><p>External Links</p>
        <input class="profileupdate form-control" type="text" name="links" placeholder="Bandcamp, Soundcloud, MySpace" ></label>
        <br />
        <br />
        <label><p>Aspirations</p>
        <input class="profileupdate form-control" type="text" name="aspirations" placeholder="Make it Big" ></label>
        <br />
        <br />
        <label><p>Genre(s)</p>
        <input class="profileupdate form-control" type="text" name="genres" placeholder="Grunge" ></label>
        <br />
        <br />
        <label><p>Keywords</p>
        <input class="profileupdate form-control" type="text" name="keywords" placeholder="heavy, electric, fender, rock, grunge" ></label>
        <br />
        <br />
        <button class="btn btn-primary profileupdate" type="submit">Submit</button>

        <!-- <input class="btn btn-success profileupdate" style="margin-bottom: 15%;" type="submit" value="Submit"> -->
      </form>
      </div>
      <div class="col-sm-5">

      </div>
    </div>
  </div>
