<img id="board" alt="">

<h1 style="color:black;">Settings</h1>

<a href="/users/profile">View Profile</a>
<br>
<a href="/users/updateprofileform">Edit Profile</a>
<br>
<a href="/users/logout">Logout</a>
