<img id="violin" alt="">
<div class="foggyclarity">


<h1>i love haley.com</h1>
<h2>.com</h2>
<h3>.com</h3>
<h4>.com</h4>
<h5>.com</h5>
<h1>i love haley.com</h1>
<h2>.com</h2>
<h3>.com</h3>
<h4>.com</h4>
<h5>.com</h5>
<!-- alex -->
<h1>she loves alex.org</h1>
<h2>.org </h2>
<h3>.org </h3>
<h4>.org </h4>
<h5>.org </h5>
<h1>she loves alex.org</h1>
<h2>.org </h2>
<h3>.org </h3>
<h4>.org </h4>
<h5>.org </h5>
</div>
